/* Base styles for the Change Password Page */
.change-password-page {
    background-color: #F4F4F9;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-page .changePassword {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 360px;  /* Limit the width of the form for better aesthetics */
}

.change-password-page form {
    display: flex;
    flex-direction: column;
}

.change-password-page h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.change-password-page label {
    margin-bottom: 5px;
    color: #666;
    font-size: 16px;
}

.change-password-page input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px; /* Space between the input fields */
}

.change-password-page button {
    background-color: #A884D6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;  /* Space before the button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-self: center;  /* Center the button within the form */
}

.change-password-page button:hover {
    background-color: #9170C2;
}

.change-password-page p {
    text-align: center;
    color: #333;
    font-size: 14px;
}

@media (max-width: 768px) {
    .change-password-page .changePassword {
        padding: 20px;
        max-width: 90%;
    }
}
