.footer {
    background-color: #A884D6;
    color: #fff;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px; /* Minimum width to prevent sections from being too narrow */
    margin: 10px;
    text-align: left;
    padding: 10px; /* Adds some padding */
    box-sizing: border-box; /* Includes padding in width */
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-section a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    text-decoration: underline;
    color: #ccc;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        width: 100%; /* Full width on smaller screens */
    }

    .footer-social {
        justify-content: center; /* Center the social icons on small screens */
        margin-top: 10px; /* Additional space above social links on mobile */
    }
}
