/* Styles for the Password Recovery page */
.password-recovery {
    background-color: #F4F4F9;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-recovery .wrapper {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 360px; /* Limit the width of the form */
}

.password-recovery form {
    display: flex;
    flex-direction: column;
}

.password-recovery h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.password-recovery .input-box {
    margin-bottom: 20px;
}

.password-recovery .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.password-recovery button {
    background-color: #A884D6;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Adjust padding for buttons */
    margin-top: 10px; /* Space before the button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-self: center; /* Center the button in the form */
    width: auto; /* Automatic width based on content */
}

.password-recovery button:hover {
    background-color: #9170C2;
}

.password-recovery .register-link {
    text-align: center;
    margin-top: 20px;
}

.password-recovery .register-link a {
    color: #A884D6;
    text-decoration: none;
}

.password-recovery .register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .password-recovery .wrapper {
        padding: 20px;
        max-width: 90%;
    }
}
