.search-bar {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar input {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 70%;
    font-size: 90%;
    border: 2px solid #A884D6;
}

.search-bar ::placeholder {
    font-style: italic;
    color: #969696;
}

.search-btn {
    background-color: #A884D6;
    color: #fff;
    border: none;
    height: 45px;
    padding: 10px 20px;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 100%;
}