body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 70px);
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .item, .small-item, .large-item {
        width: 100%;
    }
}
